@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

html{
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #010101;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #eee;
}

.section1::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(./assets/smbg.jpg) top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
    filter: brightness(.5) blur(2px);
}

.section2{
    background-color: #010101;
}

.section1, .section2{
    width: 100%;
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    color: #eee;
}

.text{
    top: 30%;
    left: 50%;
    position: absolute;
    font-family:'Franklin Gothic Medium';
    font-size: 13vw;
    color: #eee;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 
    3px 3px 5px rgba(255, 255, 255, 0.5);
    transform: scale(1,1.1) translate(-50%, 10%);
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title{
    font-size: 4em;
    margin-bottom: 50px;
}

.content{
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin-bottom: 10rem;
}

.content .image img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(.7);
}

.content .text-box{
    z-index: 222;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 350px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-150px, 90px);
}

.content .text-box h3{
    font-size: 3em;
    margin-bottom: 10px;
}

.section-title{
    font-size: 4em;
    color: #eee;
    position: relative;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
}

.info-title{
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #eee;
}

.info{
    width: 700px;
    margin-right: 50px;
    margin-left: 50px;
}


#card-area{
    color: #eee;
}

.wrapper{
    padding: 10px 10%;
    padding-bottom: 15rem;
}

.heading{
    font-size: 4em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-area{
    padding: 50px 0;
}

.box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.box{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, #1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    transition: height 1s;
}

.overlay h3{
    font-weight: 500;
    margin-top: 30%;
    margin-bottom: 1px;
    font-size: 25px;
    letter-spacing: 2px;
}

.overlay a{
    margin-top: 10px;
    color: #262626;
    text-decoration: none;
    font-size: 14px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
}

.boxLhover img{
    transform: scale(1.2);
}

.box:hover .overlay{
    height: 150%;
}

section .sec-3{
    display: flex;
    align-items:center;
    justify-content:center;
}

.heading-ratings{
    font-size: 4em;
    justify-content: center;
    text-align: center;
    color: #eee;
}

.ratings{
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
}

.rating-name{
    font-size: 18px;
    font-weight: 600;
    color: #f1f1f1;
    text-transform: uppercase;
    margin: 20px 0;
}

.rating-bar{
    height: 14px;
    background: #282828;
    border-radius: 3px;
}

.rating-per{
    height: 14px;
    background: #df6668;
    border-radius: 3px;
    position: relative;
    animation: fillbars 2.5s 1;
}

.rating-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    color: #010101;
    border-radius: 4px;
    font-size: 11px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.rating-per::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: -20px;
    right: 0;
    transform: translateX(50%), rotate(45deg);
    border-radius: 2px;
}

@keyframes fillbars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.footer{
    width: 100%;
    box-sizing: border-box;
}

.icons{
    justify-content: center;
    display: flex;
}

.icons a{
    text-decoration: none;
    padding: 10px;
    color: #f1f1f1;
    margin: 10px;
    font-size: 20px;
}

.icons a i{
    opacity: 0.6;
    transition: 0.4s;
}

.icons a i:hover{
    opacity: 1;
}

.footernav{
    margin: 30px 0;
}

.footernav ul{
    display: flex;
    justify-content: center;
}

.footernav a{
    color: #eee;
    margin: 20px;
    font-size: 18px;
    opacity: 0.6;
    transition: 0.5s;
    text-decoration: none;
}

.footernav a:hover{
    opacity: 1.5;
}

.footerbottom{
    color: #eee;
    justify-content: center;
    text-align: center;
    font-size: 10px;
}

@media screen and (max-width: 600px){
    .footernav ul{
        display: block;
        margin-left: 3rem;
        align-items: center;
    }
}